body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #212121;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    width: 600px;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    padding: 30px;
    gap: 20px;
}
.search input{
    padding: 10px;
    background-color: transparent;
    color: #fff;
    width: 300px;
    border: 1px solid white;
    font-size: 18px;
}
#btn{
    padding: 10px;
    font-size: 18px;
    background-color: blue;
    border: none;
    color: #fff;
    border-radius: 5px;
}
.image{
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    border: 1px solid  white;
    height: 150px;
    width: 200px;
}